.jumbotron{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    text-align: center;
}

.cards1{
    padding-top: 40px;
    padding-bottom:   50px;
}

.tachado {
    text-decoration: line-through;
}
.container-fluid {
    background-color: rgb(0, 0, 0);
}
.jumbotron{
    background-color: rgb(0, 0, 0);
    text-align: center;
}
.space{
    padding-top: 5%;
    
}
.display-4{
    color: white;
}

body{
    background: #B79891;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #94716B, #B79891);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #94716B, #B79891); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    

}